<h6 class="MainHeading-signup">Sign-in to your account!</h6>

<section class="UserForm">
  <%= form_with url:sessions_path do |form|%>
    <div class="UserForm-entry">
      <p>Email:</p>
      <%= form.email_field :email,class:"Form-input", placeholder: "enter email " %>
    </div>
    <div class="UserForm-entry">
      <p>Password:</p>
      <%= form.password_field :password_digest,class:"Form-input", placeholder: "enter password" %>
    </div>
    <%= form.submit "Sign In",class:"Form-submit" %>
  <%end%>
</section>