body{
    max-width: 500px;
    margin: 0 auto;    
}

.TodoTextInput{
    margin-left: 0px;
    margin-right: 10px;
    height: 32px;
    background: #FFFFFF;
    border: 1px solid #BFB8CC;
    border-radius: 4px;
    border-radius: 4px;
}
.TodoDateInput{
    
    width: 93px;
    height: 32px;
    background: #FFFFFF;
    border: 1px solid #BFB8CC;
    border-radius: 4px;
    border-radius: 4px;
    margin-left: 10px;
    margin-right:10px;

}
::placeholder{
    padding-left: 12px;
}
.button{
    background: #48BB78;
    border-radius: 4px;
    border-radius: 4px;
    padding-left: 10px;
    height: 32px;
    width: 72px;
    font-family: OpenSans-Semibold;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0.1px;
}
.TopSection{
    margin-left: 15px;
    display:flex;
    align-items: center;
}

.DueTodayTitle{
    display: flex;
    align-items: center;
    
}

.DueTodayHeading{
    font-family: OpenSans-Semibold;
    font-size: 20px;
    color: #453C52;
    letter-spacing: 0.1px;
}

.DueTodayHeadingCount{
    font-family: OpenSans;
    font-size: 16px;
    color: #453C52;
    letter-spacing: 0.09px;
    padding-left: 10px;
}
.DueTomorrowHeading{
    font-family: OpenSans-Semibold;
    font-size: 20px;
    color: #453C52;
    letter-spacing: 0.1px;
}

.DueTomorrowHeadingCount{
    font-family: OpenSans;
    font-size: 16px;
    color: #453C52;
    letter-spacing: 0.09px;
    padding-left: 10px;
}

.RemainingHeading{
    font-family: OpenSans-Semibold;
    font-size: 20px;
    color: #453C52;
    letter-spacing: 0.1px;
}

.RemainingHeadingCount{
    font-family: OpenSans;
    font-size: 16px;
    color: #453C52;
    letter-spacing: 0.09px;
    padding-left: 10px;
}
.MainHeading{
    font-family: OpenSans-Semibold;
    font-size: 24px;
    color: #453C52;
    letter-spacing: 0.14px;
}

.DueTodayEntriesOverdue{
    display: flex;
    align-items: center;
    margin-left: 15px;
    width:200px;
    height:27px;
    border-radius: 4px;
    border-radius: 4px;
    margin-bottom: 10px;
}
.DueTodayEntriesOverdue:hover{
    background: #F1EDF7;
    border-radius: 4px;
    border-radius: 4px;
}

.DueTodayEntries{
    display: flex;
    align-items: center;
    margin-left: 15px;
    width:177px;
    height:27px;
    border-radius: 4px;
    border-radius: 4px;

}

.DueTodayEntries:hover{
    background: #F1EDF7;
    border-radius: 4px;
    border-radius: 4px;
}

.DueTomorrowTitle{
    display: flex;
    align-items: center;
}

.DueTomorrowEntries{
    display: flex;
    align-items: center;
    margin-left: 15px;
    width:177px;
    height:27px;
    border-radius: 4px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.DueTomorrowEntries:hover{
    background: #F1EDF7;
border-radius: 4px;
border-radius: 4px;
}

.RemainingTitle{
    display: flex;
    align-items: center;
}

.RemainingEntries{
    display: flex;
    align-items: center;
    margin-left: 15px;
    width:200px;
    height:27px;
    border-radius: 4px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.RemainingEntries:hover{
    background: #F1EDF7;
    border-radius: 4px;
    border-radius: 4px;
}

.DueTodayInput{
    font-family: OpenSans;
    font-size: 16px;
    color: #453C52;
    letter-spacing: 0.1px;
}

.DueTodayOverdue{
    font-family: OpenSans;
    font-size: 14px;
    color: red;
    letter-spacing: 0.09px;
    padding-left: 10px;
}

.DueTomorrowInput{
    font-family: OpenSans;
    font-size: 16px;
    color: #453C52;
    letter-spacing: 0.1px;
}

.RemainingInput{
    font-family: OpenSans;
    font-size: 16px;
    color: #453C52;
    letter-spacing: 0.1px;
}

.RemainingInputDate{
    font-family: OpenSans;
    font-size: 12px;
    color: #726A7E;
    letter-spacing: 0.09px;
    padding-left: 20px;
}

.fa.fa-trash{
    padding-left: 20px;
}

input[type=checkbox]{
    height:16px;
    width: 16px;
    background-color: #FFFFFF;
}