<h1 class="MainHeading">Welcome to Todo Manager</h1>

<h3 class="MainHeading">New user? 
  <%= link_to "Sign-up", new_user_path %>
</h3>

<h3 class="MainHeading">Already here? 
  <%= link_to "Sign-in", new_sessions_path %>
</h3>
