<body>
    <h1 class="MainHeading">
        My To-do List
    </h1>

     <%= form_with(url:"/todos" , method:"post") do %>
        <input type="text" class="TodoTextInput" placeholder="What's next?" name="todo_text">
        <input type="date" class="TodoDateInput" name="due_date">
        <button type="submit" class="button">Add</button>
    <%end%>

    <%= render partial: "todo-section" , locals: {
        section_title: "Overdue" ,
        todos: Todo.overdue,
        show_duedate:true
    } %>
     <%= render partial: "todo-section" , locals: {
        section_title: "Due Today" ,
        todos: Todo.due_today,
        show_duedate:false
    } %>
     <%= render partial: "todo-section" , locals: {
        section_title: "Due Later" ,
        todos: Todo.due_later,
        show_duedate:true
    } %>

</body>
